body {
  background: goldenrod url('/burger-clipart.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  color: black ;
  font-family: 'Anton' ;
  font-size: 20px;
  padding: 2px;
  margin: 2px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Baloo';
  margin: 0px;
  padding: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

nav {
  padding: 0px;
  margin: 0px;
  padding-right: 25px;
}

nav ul li {
  margin-bottom: 15px;
  text-transform: uppercase;
}

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

.link-to-details {
  font-size: 10px;
  font-family: 'Muli';

}