<!-- Restaurant Details page -->
<h1>Details for <%=@restaurant.name%></h1>
<!-- MVP show name -->
<!-- MVP show address details -->

<!-- list burgers for restaurant -->
<!-- for each burger show -->
  <!-- MVP label -->
  <!-- price -->
  <!-- preference -->
  <!-- Enhancement - order by preference or by name or by in next deals -->

