<h1>Restaurant listing</h1>
<p></p>
<hr>
<!-- ruby code to get list do -->
<ul>
  <li>
    <!-- MVP restaurant name  -->
    <!-- Extension restaurant address optionally with nice formatting-->
    <!-- Extension URL for restaurant as -->
    <!-- Extension list of burgers for restaurant OR link to list of burgers for restaurant -->
    <!--  -->
    <!-- MVP link/button to edit details -->
    <hr>
  </li>
</ul>
<!-- ruby end -->