
<h1>ADD NEW RESTAURANT</h1>
<form method="POST" action="/restaurants">
  
<!-- Restaurant details -->


<!-- address details -->

<!-- which need to go to the address update method, which could either be a follow-on page after Restaurant update
but this would probably screw up the dtabase if it was cancelled mid transaction, so best to update both at same time... -->





</form>