<h1>Burger listing</h1>
<p></p>
<hr>
<!-- ruby code to get list do -->
<table class="listing burger" style="width:100%">
<tr> <th> Price </th><th>Restaurant</th> <th>Burger Name</th>
<%
 burgers = Burger.all.sort_by!{|x| x.price} 
 burgers.each do |burger|   %>
  <tr>
    <td> <%=burger.price %>p </td>
    <td><em><%= burger.restaurant.name %> </em> </td>
    <td> <%= burger.name %></td> 
  </tr>
<% end %> <!-- ruby end -->
</table>